@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

/* アニメーション */
.typing-item {
  text-align: left;
  margin-bottom: 0;
}

.typing-item > span {
  border-right: 4px solid #000;
  animation: caret 1s steps(1) infinite;
    // step: アニメーションがフレーム単位で1回ずつ動作する
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.custom-cursor {
  transition: width 0.3s ease, height 0.3s ease;
  &.cursor-large {
    width: 100px;
    height: 100px;
  }
}

.l- {
  &history {
    background: transparent;
    height: 100vh;
    &__wrap {
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
    }
    &__index, &__last {
      background-repeat: no-repeat;
      background-size: 100vh;
      &.color01 {
        background-image: url('/bg_history01.jpg');
      }
      &.color02 {
        background-image: url('/bg_history02.jpg');
      }
    }
    &__item {
      background-repeat: no-repeat, repeat;
      background-position: 50% 0, 0;
      background-size: 130%, 100vh;
      margin-left: -1px;
      text-align: center;
      scroll-snap-align: start;
      &.color01 {
        background-image: url('/bg_light01.png'), url('/bg_history01.jpg');
      }
      &.color02 {
        background-image: url('/bg_light01.png'), url('/bg_history02.jpg');
      }
    }
    &__image {
      object-fit: contain;
      width: 600px;
      height: 400px;
    }
  }
}

.c- {
  &text {
    &Vertical {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
    }
  }
}