@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  padding: 0;
}

.typing-item {
  opacity: 0;
  white-space: nowrap;
  overflow: hidden;
  border-right: 0.15em solid;
  transition: opacity 0.5s ease-in-out;
  &.is-visible {
    opacity: 1;
    animation: typing 3.5s steps(40, end) forwards, blink-caret 0.75s step-end infinite;
  }
}

@keyframes typing {
  from {
    width: 0;
    opacity: 1;
  }
  to {
    width: 100%;
    opacity: 1;
  }
}

@keyframes blink-caret {
  from, to {
    border-color: transparent;
  }
  50% {
    border-color: black;
  }
}


.l- {
  &history {
    background: transparent;
    height: 100vh;
    &__wrap {
      scroll-behavior: smooth;
      scroll-snap-type: y mandatory;
    }
    &__index, &__last {
      background-repeat: no-repeat;
      background-size: 100vh;
      &.color01 {
        background-image: url('/bg_history01.jpg');
      }
      &.color02 {
        background-image: url('/bg_history02.jpg');
      }
    }
    &__item {
      background-repeat: no-repeat, repeat;
      background-position: 50% 0, 0;
      background-size: 130%, 100vh;
      margin-left: -1px;
      text-align: center;
      scroll-snap-align: start;
      &.color01 {
        background-image: url('/bg_light01.png'), url('/bg_history01.jpg');
      }
      &.color02 {
        background-image: url('/bg_light01.png'), url('/bg_history02.jpg');
      }
    }
    &__image {
      object-fit: contain;
      width: 600px;
      height: 400px;
    }
  }
}

.c- {
  &text {
    &Vertical {
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
    }
  }
}